@model List<DiscHasBorrower>
@{
    ViewData["Title"] = "Checkout/Checkin Page";
}
<h2>@ViewBag.Title</h2>

<a asp-controller="DiskHasBorrower" asp-action="Add">Add a Checkout</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
        <th>Disc Name</th>
        <th>Borrower Last Name</th>
        <th>Borrower First Name</th><th>Borrowed Date</th>
        <th>Due Date</th>
        <th>Returned Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dischasborrower in Model)
        {
            <tr>
                <td>@dischasborrower.Disc.DiscName</td>
                <td>@dischasborrower.Borrower.Lname</td>
                <td>@dischasborrower.Borrower.Fname</td>
                <td>@dischasborrower.BorrowedDate.ToShortDateString()</td>
                <td>@dischasborrower.DueDate.ToShortDateString()</td>
                <td>@dischasborrower.ReturnedDate?.ToShortDateString()</td>
                <td>
                    <a asp-controller="DiskHasBorrower" asp-action="Edit" asp-route-id="@dischasborrower.DiscHasBorrowerId">Edit</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>